* {box-sizing:border-box;}
body {background-color: #CCC;}

.color-muted {
    color: #a9a9a9;
}

.bgimg {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index:-1;
    opacity:1;
}

.greeting {
    color:#3e3e3e;
    text-shadow: 3px 2px 1px rgba(255,255,255, .5);
    text-align: center;
}


.nytimes-container, .wikipedia-container {
    padding: 10px 20px;

    /*margin-right:300px;*/
    background-color: rgba(255,255,255,0.7);
}
.nytimes-container h3, .wikipedia-container h3 {
    padding-bottom: 10px;
    border-bottom: 2px solid;
}


.article-list {
    /*margin: 0;
    padding: 0;*/
}

.article {
    list-style-type: none;
    padding:10px;
    border-top: 1px solid #CCC;
}
.article:first-child {
    border-top:none;
}

@media (min-width: 992px){
    .article {
        min-height: 290px;
    }
}
